* {
font-family: "Times New Roman", Times, serif;  
}

body {
background-color: beige;
display: flex;
flex-direction: column;
}

#header2 {
padding-right: 5px;
border: 5px solid beige;
border-right-color: black;
float: left;
}

#header3 {
padding-left: 5px;
border: 5px solid beige;
float: left;
}

#musik {
border: beige;
font-style: normal;
font-size: 18px;
padding: 1px, 1px;
}

#navbarlist {
top: 0;
left: 0;
width: 100%;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}
  
#navbarlist > li {
float: left;
}
  
#navbarlist > li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
  
#navbarlist > li a:hover {
background-color:whitesmoke;
}

h1, h2, h3{
font-style: normal;
font-size: 30px;
padding: 5px, 5px;
}

p {
font-style: normal;
font-size: 16px;
padding: 8px, 6px;
}

#tid {
border: beige;
font-style: normal;
font-weight: bold;
font-size: 18px;
padding: 1px, 1px;
}

#navbar a:hover {
background-color: #ddd;
color: black;
}

li a{
color:blue;
}

#fot {
left: 0;
bottom: 0;
margin-top:auto;
}

.mapouter { 
text-align:right;
height:150px;width:150px;
}

.gmap_canvas {
overflow:hidden;
background:none
!important;height:150;width:150;
}

#divbarlist {
top: 0;
left: 0;
width: 100%;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333
}
      
#divbarlist > li {
text-align: center;
float: left;
color: white;
}
      
#link {
display: inline;
}

#divbarlist > li a {
display: block;
color: white;
text-align: center;
text-decoration: none;
}

#adresstext {
color: white;
text-align: center;
}

#soclink {
display: inline;
text-align: right;
}

.imagecontainer {
float: right;
}

.col-sm {
float: left;
margin: 2px;
padding: 2px, 2px;
}

#menubox {
box-sizing: border-box;
padding: 10px, 10px;
margin: 10px;
border: 5px solid black;
background-color: cadetblue;
height: 100%;
width: 100%;
}

#itembox {
  text-align: left;
  display: inline-block
}
#mat:hover {
  background-color: black;;
  color: white;
  }

#matnamn {
font-size: 20px;
font-style: oblique;
}

#beskrivning {
font-size: 16px;
font-style: italic;
}

#pris{
position: relative;
top:0;
right: 0;
}

#space {
height: 10%;
width: 100;;
}

  /* För mobilskärmar */
@media only screen and (max-width: 576px) {
 #navbar a {
 float: none;
 width: 100%;
 }

 #navbarlist li a {
 display: block;
 color: white;
 text-align: center;
 font-size: 16px;
 padding: 5%, 5%;
 text-decoration: none;
 }

 p {
 font-style: normal;
 font-size: 16px;
 padding: 5%, 5%;
 }

 h1, h2, h3 {
 font-style: normal;
 font-size: 20px;
 padding: 4px, 4px;
 }

 #cafebild {
 max-width: 100%;
 }

 #header2 {
  padding-right: 5px;
  border: 5px solid beige;
  border-right-color: beige;
  float: left;
  }
  
  #fot {
    max-width: 100%;
    height: 200px;
    left: 0;
    bottom: 0;
    }
    
  .imagecontainer {
  max-width: 50%;
  max-height: 100px;
  }
  
  #FB {
  max-width: 50px;
  max-height: 50px;
  }

  #IG{
  max-width: 50px;
  max-height: 50px;
  bottom: 0;
  left: 0;
  }
}
  